/*
 * Hoja de estilos principal. Se evita modificar directamente las clases, se
 * prefiere usar una nueva subclase anidada a la clase original o utilizar
 * los ID (idealmente).
 *
 * El archivo original est치 escrito en SCSS. libsass es bueno para compilar el
 * original.
 */

$bg-scale: 1.50;
$bg-blur-px: 24px;
$text-color: black;
$jumbo-opacity: 0.80;
$jumbo-abs-min-w: 650px;
$jumbo-abs-max-w: 1000px;
$jumbo-scale: 1.00;
$hr-margin: 12px;

/* Queremos que el body y la section tengan las mismas propiedades referentes
 * al fondo. De esta forma cuando desaparezca la section, no habr치 una
 * transisi칩n al blanco, sino una transisi칩n suave entre fondos. */
section#main,
body {
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    /* esto oculta el background del objeto real */
    background-size: 0px;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

section#main::before,
body::before {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: -1;

    display: block;
    background: inherit;
    /* el semi-objeto ::before es el que muestra el background */
    background-size: cover;
    height: 100vh;
    width: 100vw;

    filter: blur($bg-blur-px);
    transform: scale($bg-scale, $bg-scale);
}

div.real-jumbo {
    margin: 0px;
    padding: 2rem 1rem;
    opacity: $jumbo-opacity;

    min-width: calc(#{$jumbo-abs-min-w} / #{$jumbo-scale}) !important;
    max-width: calc(#{$jumbo-abs-max-w} / #{$jumbo-scale}) !important;

    transform: scale($jumbo-scale, $jumbo-scale);
}

div.v-center {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.jumbotron.v-center {
    margin: 0px;
    background: none;
}

hr.boring-hr {
    height: 0px;
    margin-top: $hr-margin;
    margin-bottom: $hr-margin;
}

a.simple-a {
    text-decoration: none;
    color: $text-color;
}


.overflowable {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Tipos de letra */

.ico1 {
    font-size: 3.50rem;
    font-weight: 100;
    line-height: 1.00;
}

.ico2 {
    font-size: 2.50rem;
    font-weight: 100;
    line-height: 1.00;
}

.compact {
    line-height: 0.925;
}

.tl1 {
    font-size: 3.50rem;
    font-weight: 500;
    line-height: 1.5;
}

.tl2 {
    font-size: 2.00rem;
    font-weight: 450;
    line-height: 1.15;
}

.tl3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.15;
}
